.ContentWrraper {
  display: flex;
  gap: 25px;
  width: 80%;
  color: white;
  margin: auto;
  margin-top: 60px;
}
.leftSection {
  width: 1700px;
}

.totalPay {
  display: flex;
  gap: 25px;
}
.PaybleAmount {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.cardScreen {
  width: 100%;
  height: 600px;
  border: 1px solid aqua;
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0px;
}
.Heading {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.PaymentContainer {
  display: flex;
}
.PaymentOption {
  width: 350px;
  background: linear-gradient(gray, rgb(22, 22, 22));
}
.creditOption {
  font-size: 17px;
  color: #fff;
  background-color: gray;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.creditOptions {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.creditOptions:hover {
  background-color: gray;
}
.creditOptions span {
  font-weight: 600;
  color: #12daa8;
  border: 2px solid aqua;
  padding: 0px 3.5px;
  border-radius: 50%;
}
.PaymentOption div {
  padding: 15px 20px;
}
.paymentOptionDetails {
  width: 100%;
}
.optionHeading {
  width: 100%;
}
.optionHeading {
  padding: 15px 15px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.CardContainer {
  width: 330px;
  padding: 15px 40px;
  /* display: flex;
  flex-direction: column; */
}
.cardInputHeading{
  color: #12daa8;
  font-weight: 700;
}
.CardNumber {
  width: 100%;
  color: white;
  margin: 0px 0px 10px 0px;
  border: none;
  padding: 12px 0px;
  border-bottom: 1px solid gray;
  background-color: inherit;
  border-radius: none;
}
.CardDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.detailInput {
  width: 100%;
  border: none;
  color: white;
  border-bottom: 1px solid darkgray;
  background-color: inherit;
}
.PlaceOrderButton {
  border: none;
  background-color: #12daa8;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 40px;
}
.PlaceOrderButton:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(37, 106, 106);
}
.CardContainer button {
  display: flex;
  justify-content: center;
}
.orderDetails {
  margin-top: 35px;
  border: 1px solid gray;
  border-radius: 8px;
}
.OrderSummary {
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 8px;
  padding: 10px;
}
.addressHeading {
  font-size: 18px;
  font-weight: 600;
}
.address {
  margin-top: 5px;
  color: gray;
}
.AmountDetails {
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0px;
}
.Price {
  display: flex;
  align-items: center;
}
.Detail {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.AddressType {
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 0px 5px;
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}
@media (max-width: 768px) {
  .ContentWrraper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    width: 100%;
  }
  .PaybleAmount {
    margin-top: 15px;
  }
  .leftSection {
    width: 100%;
    margin: 0;
  }
  .cardScreen {
    width: 100%;
    height: 100%;
  }
  .PaymentContainer {
    width: 100%;
  }
  .PaymentOption {
    display: none;
  }
  .optionHeading {
    background-color: gray;
    color: black;
  }
  .orderDetails {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .rightSection {
    margin-bottom: 50px;
  }
}
