.ProductContainer {
  display: flex;
  width: 1000px;
  margin: 30px auto;
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 25px;
  position: relative;
}
.ProductDetail {
  display: flex;
  width: 100%;
}
.ProductImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.ProductImg img {
  width: 150px;
}
.ProductDetails {
  width: 65%;
}
.ProductName {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 55px;
  margin-top: 12px;
}
.tex {
  font-size: 12px;
  margin-bottom: 10px;
}
.DeliveryAddress {
  font-size: 16px;
}
.StanderdDelivery {
  font-size: 16px;
}
.ref {
  cursor: pointer;
  color: #12daa8;
  text-decoration: underline;
  justify-content: right;
}

@media (max-width: 768px) {
  .ProductContainer {
    width: 100%;
    margin: 10px 0px;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
  }
  .ProductImg {
    margin: auto 10px auto 0px;
  }
  .ProductImg img {
    width: 100px;
  }
  .ProductDetails {
    width: 100%;
  }
  .ProductName {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 12px;
  }
}
