html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 22);
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}
/* home page style */
.dealOfTheDayContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 35px auto 5px auto;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
}
.dealOfTheDayProduct {
  display: flex;
  width: 100%;
  gap: 20px;
}
.h2tag {
  color: white;
  margin: 25px 10px 0px 150px;
}
.offer {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-bottom: 15px;
}
.offer img {
  width: 600px;
}
.tradingDeal {
  width: 80%;
  margin: auto;
}
.brandSection {
  width: 80%;
  margin: auto;
}
.productSection {
  width: 80%;
  margin: auto;
  color: white;
}
.productSection h2 {
  margin: 25px 0 15px 0;
}
.image-ad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.apple-image-add {
  width: 100%;
  border-radius: 7px;
}
@media (max-width: 768px) {
  .dealOfTheDayContainer {
    width: 100%;
    margin: 10px auto 0px auto;
  }
  .dealOfTheDayProduct {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  .h2tag {
    margin: 25px 10px 10px 10px;
  }
  .offer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-bottom: 8px;
  }
  .offer img {
    width: 180px;
  }
  .productSection {
    width: 100%;
    padding: 5px;
  }
  .productSection h2 {
    margin: 0px 0 8px 0;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
